{% extends 'innerbase.html' %}
{% load static %}

{% block title %}Add Patient Page | The ASA Covid Tracker{% endblock %}
{% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/allpatients.css' %}">
{% endblock %}

{% block body %}
<div class="container ">
    <h1 class="text-center my-3">Add Patient</h1>
    <form action="/addpatient" method="post" class="form-group">
        {% csrf_token %}
        <ul class="form-group">
            {{ form.as_ul }}

        </ul>

        <ul>
            <label for="ventilator">Ventilator Required?</label>
            <select name="ventilator" class="form-control" id="ventilator">
                <option value="no">no</option>
                <option value="yes">yes</option>
            </select>
        </ul>



        <input class="btn-danger btn" type="submit">
    </form>
</div>

{% endblock %}

{% block JS %}

{% endblock %}