{% extends 'innerbase.html' %}
{% load static %}

{% block title %}Add Doctor Page | The ASA Covid Tracker{% endblock %}
{% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/adddoctor.css' %}">
{% endblock %}

{% block linkBelow %}
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
{% endblock %}
{% block body %}
<div class="container ">
    <h1 class="text-center my-5 header display-4">Add Doctor</h1>
    <div class="row">
        <div class="col-sm block-to-disappear-in-mobile">
            <img src="{% static '/svg/adddoctor.svg' %}" width="100%" alt="image for add doctor">
        </div>
        <div class="col-sm">
            <form action="/adddoctor" method="POST" class="form-group">
                {% csrf_token %}
                <ul class="unordered-list">
                    {{ form.as_ul }}
                </ul>
                <input class="btn btn-block btn-red-block" type="submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block JS %}

{% endblock %}