{% extends 'innerbase.html' %}
{% load static %}

{% block title %}Add Doctor Page | The ASA Covid Tracker{% endblock %}
{% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/adddoctor.css' %}">
{% endblock %}

{% block body %}
<div class="container ">
    <h1 class="text-center my-3">Add Doctor</h1>
    <form action="/adddoctor" method="POST" class="form-group">
        {% csrf_token %}
        <ul class="unordered-list">
            {{ form.as_ul }}

        </ul>

        <input class="btn-danger btn" type="submit">
    </form>
</div>


<div class="container">

</div>

{% endblock %}

{% block JS %}

{% endblock %}