{% extends 'innerbase.html' %}
{% load static %}

{% block title %}All Patients | The ASA Covid Tracker{% endblock %}
{% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/bed.css' %}">
<link rel="stylesheet" href="{% static 'css/allpatients.css' %}">
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 ">
            <h1 class="text-center my-5 header display-4">All Patients</h1>
        </div>
        <div class="col-md-4 d-flex align-items-center text-right">
            <form class="form-inline" action="/search" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" name="name" type="search" placeholder="Search Patient"
                    aria-label="Search" />
                <input class="btn btn-danger" type="submit">
            </form>
        </div>
        <div class="col-md-2  d-flex align-items-center">
            <a href="/addpatient">
                <img src="{% static '/icons/plus.svg' %}" height="50px" alt="Add the patient">
            </a>
        </div>

    </div>


    <ul class="list-group">
        <h1 class="text-center heading">Admitted Patients</h1>

        {% for patient in all_patients_query_set %}
        {% if patient.decreased %}
        {% elif patient.recovered %}
        {% else %}
        <div class="row">
            <div class="col-11"><a href="/patients/{{patient.patient_id}}" style="text-decoration: none;">

                    <li
                        class="list-group-item list-group-item-action {% if patient.room_no_and_bed_no.occupied %} list-group-item-warning  {% endif %} {% if patient.room_no_and_bed_no.ventilator %} list-group-item-danger {% endif %}">
                        <h5>Id-{{patient.patient_id}}. {{patient.name}}, Phone No: {{patient.phone}}</h5>

                    </li>
                </a></div>
            <div class="col-1 text-center align-self-center">

                <a href="/deletePatient/{{patient.patient_id}}">
                    <img src="{% static '/icons/delete.svg' %}" class="hover-item" width="40px" alt="Delete">
                </a>
            </div>

        </div>

        {% endif %}

        {% empty %}
        <li class="list-group-item list-group-item-action">NO PATIENTS IN DATABASE</li>
        {% endfor %}

        <h1 class="text-center heading">Recovered Patients</h1>
        {% for patient in all_patients_query_set %}
        {% if patient.recovered %}
        <div class="row">
            <div class="col-11"><a href="/patients/{{patient.patient_id}}" style="text-decoration: none;">

                    <li class="list-group-item list-group-item-action ">
                        <h5>Id-{{patient.patient_id}}. {{patient.name}}, Phone No: {{patient.phone}}</h5>

                    </li>
                </a></div>
            <div class="col-1 text-center align-self-center">

                <a href="/deletePatient/{{patient.patient_id}}">
                    <img src="{% static '/icons/delete.svg' %}" class="hover-item" width="40px" alt="Delete">
                </a>
            </div>

        </div>
        {% endif %}
        {% empty %}
        <li class="list-group-item list-group-item-action">NO PATIENTS IN DATABASE</li>
        {% endfor %}

        <h1 class="text-center heading">Decreased Patients</h1>
        {% for patient in all_patients_query_set %}
        {% if patient.decreased %}
        <div class="row">
            <div class="col-11"><a href="/patients/{{patient.patient_id}}" style="text-decoration: none;">

                    <li class="list-group-item list-group-item-action ">
                        <h5>Id-{{patient.patient_id}}. {{patient.name}}, Phone No: {{patient.phone}}</h5>

                    </li>
                </a></div>
            <div class="col-1 text-center align-self-center">

                <a href="/deletePatient/{{patient.patient_id}}">
                    <img src="{% static '/icons/delete.svg' %}" class="hover-item" width="40px" alt="Delete">
                </a>
            </div>

        </div>
        {% endif %}
        {% empty %}
        <li class="list-group-item list-group-item-action">NO PATIENTS IN DATABASE</li>
        {% endfor %}


    </ul>
</div>
<!--todo legend Starts here-->
<div class="container">
    <h1 class="text-center heading-legend">Legend</h1>
    <div class="container">
        <div class="row text-center">

            <div class="col yellow list-group-item-warning  ">
                Admitted
            </div>
            <div class="col red">
                Ventilator
            </div>

        </div>
    </div>
</div>
<!--todo legend Ends here-->

{% endblock %}

{% block JS %}
{% endblock %}