{% extends 'innerbase.html' %}
{% load static %}

{% block title %}All Patients | The ASA Covid Tracker{% endblock %}
{% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/bed.css' %}">
<link rel="stylesheet" href="{% static 'css/allpatients.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center heading ">All Patients</h1>
    <ul>
        <li>
            <form class="form-inline" action="/search" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" name="name" type="search" placeholder="Search Patient"
                    aria-label="Search" />
                <input class="btn btn-danger my-2 my-sm-0" type="submit">

                </input>
            </form>
        </li>
    </ul>

    <div class="container text-center my-2">
        <a href="/addpatient">
            <button class="commonbuttons text-center">Add Patient</button>
        </a>
    </div>
    <ul class="list-group">

        {% for patient in all_patients_query_set %}
        <a href="/patients/{{patient.patient_id}}" style="text-decoration: none;">
            <li
                class="list-group-item list-group-item-action {% if patient.room_no_and_bed_no.occupied %} list-group-item-warning  {% endif %} {% if patient.room_no_and_bed_no.ventilator %} list-group-item-danger {% endif %}">
                <h4>Id-{{patient.patient_id}}. {{patient.name}}, Phone No: {{patient.phone}}</h4>

            </li>
        </a>
        {% empty %}
        <li class="list-group-item list-group-item-action">NO ITEMS ACCORDING TO YOUR SEARCH</li>
        {% endfor %}
    </ul>
</div>
<!--todo legend Starts here-->
<div class="container">
    <h1 class="text-center heading-legend">Legend</h1>
    <div class="container">
        <div class="row text-center">

            <div class="col yellow list-group-item-warning  ">
                Admitted
            </div>
            <div class="col red">
                Ventilator
            </div>

        </div>
    </div>
</div>
<!--todo legend Ends here-->

{% endblock %}

{% block JS %}

{% endblock %}