{% extends 'innerbase.html' %}
{% load static %}

{% block title %}Bed Availability | The Hospital CMS dedicated for Coronavirus{% endblock %}
{% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/bed.css' %}">
{% endblock %}

{% block body %}
<div class="container my-6">
    <div class="banner">
        <img src="{% static 'svg/hospital banner.svg' %}" width="100%" height="150px" alt="">
    </div>
    <div class="border-outside">
        <div class="inner-container p-6">
            <div class="floor1 row">
                {% for room in all_rooms_objects %}
                {% if forloop.counter0|divisibleby:max_rooms_on_floor %}
            </div>
            <h1 class="text-center my-2">Floor {{room.floor_no}}</h1>
            <div class="floor1 row">
                {% endif %}
                <div class=" col-sm">
                    <a href="/bed-for-patient/{{room.pk}}" style="text-decoration: none;">

                        <div class="card-body     room  {% if room.occupied %}yellow{% endif %}
                                    {% if room.ventilator %}red{% endif %} ">
                            <h5 class="title-for-card">{{room.room_no}}</h5>
                        </div>

                    </a>
                </div>
                <!-- <div class="col-sm room 
                                    {% if room.occupied %}yellow{% endif %}
                                    {% if room.ventilator %}red{% endif %}                
                ">
                    <a href="/" style="text-decoration: none;color:black;">{{room.room_no}}</a>
                </div> -->
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--todo legend Starts here-->
<div class="container">
    <h1 class="text-center heading-legend">Legend</h1>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 blue">
                Unoccupied
            </div>
            <div class="col-md-4 yellow">
                Admitted
            </div>
            <div class="col-md-4 red">
                Ventilator
            </div>
        </div>
    </div>
</div>
<!--todo legend Ends here-->
{% endblock %}

{% block JS %}
{% endblock %}