{% extends 'innerbase.html' %} {% load static %} {% block title %}Dashboard of
the Covid Tracker{% endblock %} {% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>

{% endblock %} {% block body %}
<!--todo graph for active, recovered, decreased and on ventilator Starts here -->
<style>
    .recovered {
        flex: 50%;
    }

    .admitted {
        flex: 50%;
    }

    .decreased {
        flex: 50%;
    }

    .non-ventilator {
        flex: 50%;
    }

    .ventilator {
        flex: 50%;
    }
</style>
<div class="container my-3">
    <div class="parent-row-block">
        <div class="child-block recovered">
            <div class="top-header-child text-center">
                <p class="text-center">Recovered - {{recovered_patients_count}}</p>
            </div>
            <div class="bottom-img-recovered"></div>
        </div>
        <div class="child-block admitted">
            <div class="top-header-child-admitted">
                <p class="text-center">Admitted - {{admitted_patients_count}}</p>
            </div>
            <div class="bottom-img-admitted">
                <div class="parent-row-block">
                    <div class="child-block non-ventilator text-center align-items-start">
                        {{non_ventilator_count}}
                    </div>
                    <div class="child-block ventilator text-center">{{ventilator_patients_count}}</div>
                </div>
            </div>
        </div>
        <div class="child-block decreased">
            <div class="top-header-child">
                <p class="text-center">Decreased - {{decreased_patients_count}}</p>
            </div>
            <div class="bottom-img-decreased"></div>
        </div>
    </div>
</div>
<!--todo graph for active, recovered, decreased and on ventilator Ends here -->
<!--todo PieCharts & Bar Graph Starts Here -->

<div class="container">
    <div class="row">
        <div class="col-md-2 align-self-center">
            <div class="list-group p-2" id="list-tab" role="tablist">
                <a class="list-group-item shadow m-1 list-group-item-action active" id="list-age-list"
                    data-bs-toggle="list" href="#list-age" role="tab" aria-controls="age"><b>Age</b></a>
                <a class="list-group-item shadow m-1 list-group-item-action" id="list-temp-list" data-bs-toggle="list"
                    href="#list-temperature" role="tab" aria-controls="temperature"><b>Temperature</b></a>
                <a class="list-group-item shadow m-1 list-group-item-action" id="list-days-list" data-bs-toggle="list"
                    href="#list-days" role="tab" aria-controls="days"><b>Doctors</b></a>
                <a class="list-group-item shadow m-1 list-group-item-action" id="list-beedused-list"
                    data-bs-toggle="list" href="#list-bedused" role="tab" aria-controls="bedused"><b>Beds</b></a>
            </div>
        </div>
        <div class="col-md-10 align-self-center text-center">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-age" role="tabpanel" aria-labelledby="list-age-list">
                    <canvas id="myChart" width="40px" height="40px"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart').getContext('2d');
                        ctx.canvas.parentNode.style.width = "400px";
                        ctx.canvas.parentNode.style.height = "400px";

                        width = screen.width;
                        if (width < 600) {
                            ctx.canvas.parentNode.style.width = "300px";
                            ctx.canvas.parentNode.style.height = "300px";
                        }
                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [


                                    {% for i in list_keys_age %}
                            'AGE {{i}}',
            {% endfor %}
                    ],
                        datasets: [{
                            label: '# of Votes',

                            data: [
                                {% for i in list_values_age %}
                            {{ i }},
                        {% endfor %}


                        ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                    borderWidth: 1
                    }]
                },
                        options: {
                            scales: {

                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }, scales: false,

                }
            });
                    </script>
                </div>

                <div class="tab-pane fade align-self-center" id="list-temperature" role="tabpanel"
                    aria-labelledby="list-temperature-list">
                    <canvas id="myChart2" width="40px" height="40px"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart2').getContext('2d');
                        ctx.canvas.parentNode.style.width = "400px";
                        ctx.canvas.parentNode.style.height = "400px";
                        width = screen.width;
                        if (width < 600) {
                            ctx.canvas.parentNode.style.width = "300px";
                            ctx.canvas.parentNode.style.height = "300px";
                        }
                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [
                                    {% for i in list_keys_temp %}
                            'Temperature {{i}}°F',
            {% endfor %}

                    ],
                        datasets: [{
                            label: '# of Votes',
                            data: [

                                {% for i in list_values_temp %}
                            {{ i }},
                        {% endfor %}


                        ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                    borderWidth: 1
                    }]
                },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }, scales: false,

                }
            });
                    </script>
                </div>
                <div class="tab-pane fade" id="list-days" role="tabpanel" aria-labelledby="list-days-list">
                    <canvas id="doctorChart" width="40px" height="40px"></canvas>
                    <script>
                        var ctx = document.getElementById('doctorChart').getContext('2d');
                        ctx.canvas.parentNode.style.width = "400px";
                        ctx.canvas.parentNode.style.height = "400px";

                        width = screen.width;
                        if (width < 600) {
                            ctx.canvas.parentNode.style.width = "300px";
                            ctx.canvas.parentNode.style.height = "300px";
                        }
                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [
                                    'Free Doctors', 'Occupied Doctors'

                                ],
                                datasets: [{
                                    label: '# of Votes',

                                    data: [
                                        {{ freedoctors }}, {{ occupied_doctors }}


            ],
                        backgroundColor: [
                            'rgba(40, 167, 70, 0.2)',
                            'rgba(220, 53, 70, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                            borderColor: [
                                'rgba(40, 167, 70, 1)',
                                'rgba(220, 53, 70, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderWidth: 1
                    }]
                },
                        options: {
                            scales: {

                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }, scales: false,

                }
            });
                    </script>
                </div>
                <div class="tab-pane fade" id="list-bedused" role="tabpanel" aria-labelledby="list-bedused-list">
                    <canvas id="bedChart" width="40px" height="40px"></canvas>
                    <script>
                        var ctx = document.getElementById('bedChart').getContext('2d');
                        ctx.canvas.parentNode.style.width = "400px";
                        ctx.canvas.parentNode.style.height = "400px";

                        width = screen.width;
                        if (width < 600) {
                            ctx.canvas.parentNode.style.width = "300px";
                            ctx.canvas.parentNode.style.height = "300px";
                        }
                        var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [



                                    'Occupied Beds', 'Free Beds'

                                ],
                                datasets: [{
                                    label: '# of Votes',

                                    data: [
                                        {{ no_of_occupied_beds }}, {{ non_occupied_no_of_beds }}


            ],
                        backgroundColor: [

                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                            borderColor: [

                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderWidth: 1
                    }]
                },
                        options: {
                            scales: {

                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }, scales: false,

                }
            });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!--todo PieCharts Ends Here -->

{% endblock %} {% block JS %} {% endblock %}