{% extends 'innerbase.html' %}
{% load static %}

{% block title %}All Patients | The ASA Covid Tracker{% endblock %}
{% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/allpatients.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center heading ">All Doctors</h1>
    <div class="container text-center my-2">
        <a href="/adddoctor">
            <button class="commonbuttons text-center">Add Doctor</button>
        </a>
    </div>
    <ul class="list-group">

        {% for doctor in all_doctors %}

        <li class="list-group-item list-group-item-action">
            <a href="/patients/{{patient.patient_id}}" style="text-decoration: none;color:rgb(0, 91, 128);">
                <h4>Unique Id-{{doctor.pk}}. || {{doctor.name}} || Experience : {{doctor.experience_in_years}} Years
                </h4>
            </a>
        </li>
        {% empty %}
        <li class="list-group-item list-group-item-action">NO ITEMS ACCORDING TO YOUR SEARCH</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}

{% block JS %}

{% endblock %}