{% extends 'innerbase.html' %}
{% load static %}

{% block title %}{{doctor.name}} Doctor Information page of The ASA Covid Tracker{% endblock %}
{% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/patient.css' %}">
{% endblock %}

{% block body %}
<!--todo Bed Avability Visualizer Start here-->
<div class="container">
    <br><br>
    <h1 class="text-center">Doctor Data</h1>
    <br><br>
    <table class="table {% if doctor.occupied %} table-danger {% endif %}">
        <tr class="table-row">
            <th scope="row">Unique ID</th>
            <td>{{doctor.doctor_id}}</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>{{doctor.name}}</td>
        </tr>
        <tr>
            <th scope="row">Phone</th>
            <td>{{doctor.phone}}</td>
        </tr>
        <tr>
            <th scope="row">Experience in Years</th>
            <td>{{doctor.experience_in_years}}</td>
        </tr>
        <tr>
            <th scope="row">Occupied</th>
            <td>{% if doctor.occupied %}Yes{% else %}No{% endif %}</td>
        </tr>
    </table>
</div>


{% endblock %}

{% block JS %}

{% endblock %}