{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!--todo Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description"
        content="This Website is the website made for a hackathon rookie unscript 2020 by Aakash, Shreya and Akshata" />
    <meta name="keywords" content="github, hackathon, The unscript hospital" />
    <meta name="author" content="Aakash Yadav, Shreya Sapale, Akshata Sangwai" />
    <!--todo title & favicon-->
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/dnv3ztqf1/image/upload/v1605866352/Images%20for%20UNSCRIPT%20ROOKIE/favicon/logo_transparent_background_u9eopl.png" />
    <!--todo Facebook and Twitter integration -->
    <!--todo Facebook and Twitter integration -->
    <meta property="og:title" content="The Unscript Hospital" />
    <meta property="og:image" content="/assets/favicon/logo_transparent_background.png" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="The Unscript Hospital" />
    <meta property="og:description" content="" />

    <!--todo CSS sytlesheets links-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    {% block cssLinks %}{% endblock %}
    <!--todo fonts links-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap" rel="stylesheet" />
    <!--todo Bootstrap CSS -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>



    <!--todo navbar starts here-->
    <nav class="navbar navbar-expand-lg sticky-top ">
        <div class="container">
            <a class="navbar-brand" href="/">
                <section id="leftlogo"><img
                        src="https://res.cloudinary.com/dnv3ztqf1/image/upload/v1605866344/Images%20for%20UNSCRIPT%20ROOKIE/logos/navbarlogo_kn59xi.png"
                        class="d-inline-block align-top" loading="lazy">
                </section>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span id="navbar-toggler-icon">≡</span>
            </button>
            <!--contents---->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="link-background">
                        <a href='/' class="nav-link left">Home</a>
                    </li>
                    <li class="link-background">
                        <a href="/bedavailibility" class="nav-link left">Bed Availibility</a>
                    </li>
                    <li class="link-background">
                        <a href="/dashboard" class="nav-link left">Dashboard</a>
                    </li>
                    <li>
                        <form class="form-inline" action="search" method="POST">
                            {% csrf_token %}
                            <input class="form-control mr-sm-2" name="nameofpatient" type="search"
                                placeholder="Search Patient" aria-label="Search" />
                            <input class="btn btn-danger my-2 my-sm-0" type="submit">
                            <a style="text-decoration: none" href="/search"></a>
                            </input>
                        </form>
                    </li>
                </ul>
            </div>
            <!------>
        </div>
    </nav>
    <!--todo navbar ends here-->
    {% block body %}{% endblock %}


    <!--todo waves starts here-->
    <div class="outer_box_for_waves">
        <section id="wavesbelownavbar">
            <img src="https://res.cloudinary.com/dnv3ztqf1/image/upload/v1605866339/Images%20for%20UNSCRIPT%20ROOKIE/logos/abovefootersvg_sironc.svg"
                alt="" />
        </section>
    </div>
    <!--todo waves ends here-->
    <!--todo footer starts here-->
    <div class="footer_bottom">
        <br /><br />
        <div class="container">
            <div class="row">
                <div class="col-md-5 footer_about_section">
                    <h3><b>About Us</b></h3>
                    <p class="text-justify about_footer">
                        The ASA Hospital Provides You with quality testing and
                        services mainly oriented for coronavirus Cases.
                    </p>
                    <a href="#"><button id="commonbuttons"><b>Know More</b></button></a>
                </div>
                <div class="col-md-3 footer_quicklinks_section">
                    <h3><b>Quick Links</b></h3>
                    <ul class="footer-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/bedavailibility">Bed Availibilty</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                    </ul>
                </div>
                <div class=" col-md-4 footer_contact_section">
                    <h3><b>Contact Me</b></h3>
                    <ul class="footer-links">
                        <li>
                            <a href="mailto:aakashcoder1210@gmail.com?subject =Hello Aakash = Message"><i
                                    style="padding-right: 3%" class="fa fa-2x fa-envelope"
                                    aria-hidden="true"></i>unscripthospital@gmail.com</a>
                        </li>
                        <li>
                            <a href="tel:+91 1234567891"><i style="padding-right: 3%" class="fa fa-2x fa-phone"
                                    aria-hidden="true"></i>1234567891</a>
                        </li>
                    </ul>
                    <br />
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="https://github.com/AakashCode12" target="_blank"><i id="github"
                                        class="fa fa-3x fa-github" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="https://www.linkedin.com/in/aakash-yadav-a30627190/" target="_blank"><i
                                        id="linkedin" class="fa fa-3x fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="https://www.instagram.com/aakash_igram/" target="_blank"><i id="instagram"
                                        class="fa fa-3x fa-instagram" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="https://twitter.com/Aakashv0007" target="_blank"><i id="twitter"
                                        class="fa fa-3x fa-twitter" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
    </div>
    <!--todo footer ends here-->
    <!--todo JavaScript -->

    <!-- todo jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    {% block JS %}{% endblock %}

</body>

</html>