{% extends 'innerbase.html' %}
{% load static %}

{% block title %}{{patient.name}} Information page of The ASA Covid Tracker{% endblock %}
{% block cssLinks %}
<link rel="stylesheet" href="{% static 'css/patient.css' %}">
{% endblock %}

{% block body %}
<!--todo Bed Avability Visualizer Start here-->
<div class="container">
    <br><br>
    <h1 class="text-center">Patient Data</h1>
    <br><br>
    <div class="jumbotron text-center">
        <div class="container align-items-center">
            <!--todo Name Starts here -->
            <div class="row">
                <div class="col-md-3 "><img width="100" src="{% static 'svg/patient/1.svg' %}" alt="">
                </div>
                <div class="col-md-9">
                    <h1 class="heading">{{patient.name}}</h1>
                </div>
            </div>
            <!--todo Name Ends here -->

            <div class="row">
                <div class="col-md">
                    <!--?floor starts here -->
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img width="100" src="{% static 'svg/patient/12.svg' %}" alt="">
                        </div>
                        <div class="col-md-9 ">
                            <h4>Floor No : {{patient.room_no_and_bed_no.floor_no}}</h4>
                        </div>
                    </div>
                    <!--? floor ends here -->
                </div>
                <div class="col-md">
                    <!--? room starts here -->
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <i class="fa fa-bed fa-3x"></i>
                        </div>
                        <div class="col-md-9 ">
                            <h4>Room No : {{patient.room_no_and_bed_no.room_no}}</h4>
                        </div>
                    </div>
                    <!--? room ends here -->
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <!--? Doctor id starts here -->
                    <div class="row">
                        <div class="col-md-3 text-center"><img width="100" src="{% static 'svg/patient/10.svg' %}"
                                alt="">
                        </div>
                        <div class="col-md-9 ">
                            <h4>{{patient.doctor.name}}</h4>
                        </div>
                    </div>
                    <!--? doctor ends here -->
                </div>
                <div class="col-md">
                    <!--? result starts here -->
                    <div class="row">
                        <div class="col-md-3 text-center"><img width="100" src="{% static 'svg/patient/11.svg' %}"
                                alt="">
                        </div>
                        <div class="col-md-9 ">
                            <h4>COVID-19: {{patient.covid_test_result.Covid_test}}</h4>
                        </div>
                    </div>
                    <!--? result ends here -->
                </div>
            </div>
            <!--? ventilator boolean starts here -->
            <div class="row">
                <div class="col-md-3 text-center"><img width="100"
                        src="https://res.cloudinary.com/dnv3ztqf1/image/upload/v1605876828/css/dashboard/ventilation_kethso.svg"
                        alt="">
                </div>
                <div class="col-md-9 ">
                    <h4>Ventilator Occupied :

                        {% if patient.room_no_and_bed_no.ventilator %} Yes {% else %} No {% endif %}

                    </h4>
                </div>
            </div>
            <!--? ventilator boolean ends here -->

            <div class="row">
                <div class="col-md">
                    <!--* Age Starts here-->
                    <div class="row">
                        <div class="col-md-3 "><img width="100" src="{% static 'svg/patient/2.svg' %}" alt="">
                        </div>
                        <div class="col-md-9">
                            <h1 class="display-5 ">{{patient.age}}</h1>
                        </div>
                    </div>
                    <!--* Age Ends here-->
                </div>
                <div class="col-md">
                    <!--? Gender Starts here-->
                    <div class="row">
                        <div class="col-md-3 "><img width="100" src="{% static 'svg/patient/3.svg' %}" alt="">
                        </div>
                        <div class="col-md-9">
                            <h1 class="display-5">{{patient.gender}}</h1>
                        </div>
                    </div>
                    <!--? Gender Ends here-->
                </div>
                <div class="col-md">
                    <!--todo Phone Starts here-->
                    <div class="row">
                        <div class="col-md-3 "><img width="100" src="{% static 'svg/patient/4.svg' %}" alt="">
                        </div>
                        <div class="col-md-9">
                            <h1 class="display-5">{{patient.phone}}</h1>
                        </div>

                    </div>
                    <!--todo Phone Ends here-->
                </div>
            </div>
            <!--todo address starts here -->
            <div class="row">
                <div class="col-md-3 "><img width="100" src="{% static 'svg/patient/5.svg' %}" alt=""></div>
                <div class="col-md-9 overflow-auto">
                    <h4>{{patient.address}}</h4>
                </div>
            </div>
            <!--todo address ends here -->
            <div class="row">
                <div class="col-md">
                    <!--! Email id starts here -->
                    <div class="row">
                        <div class="col-md-3 "><img width="100" src="{% static 'svg/patient/6.svg' %}" alt=""></div>
                        <div class="col-md-9 overflow-auto">
                            <h4>{{patient.email_id}}</h4>
                        </div>
                    </div>
                    <!--! email id ends here -->
                </div>
                <div class="col-md">
                    <!--* Date admitted id starts here -->
                    <div class="row">
                        <div class="col-md-3 "><img width="100" src="{% static 'svg/patient/7.svg' %}" alt=""></div>
                        <div class="col-md-9 ">
                            <h4>Date Admitted : {{patient.date_admitted}}</h4>
                        </div>
                    </div>
                    <!--* Date admitted id ends here -->
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <!--?oxygen level starts here -->
                    <div class="row">
                        <div class="col-md-3 "><img width="100" src="{% static 'svg/patient/8.svg' %}" alt=""></div>
                        <div class="col-md-9 ">
                            <h4>{{patient.oxygen_level}} %</h4>
                        </div>
                    </div>
                    <!--? oxygen level ends here -->
                </div>
                <div class="col-md">
                    <!--? temperature id starts here -->
                    <div class="row">
                        <div class="col-md-3 text-center"><img width="100" src="{% static 'svg/patient/9.svg' %}"
                                alt="">
                        </div>
                        <div class="col-md-9 ">
                            <h4>{{patient.temperature}} &#x2109;</h4>
                        </div>
                    </div>
                    <!--? temperature ends here -->
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}

{% block JS %}

{% endblock %}